<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.goloskokov.bookdepository">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="ru.goloskokov.bookdepository.BookListActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="ru.goloskokov.bookdepository.BookActivity"
            android:exported="false" />


        <activity
            android:name="ru.goloskokov.bookdepository.BookPagerActivity"
            android:parentActivityName="ru.goloskokov.bookdepository.BookListActivity" />

    </application>

</manifest>